Docs/Schemas/RA/1.0.0/SharedObjectsRemittanceAdvice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    targetNamespace="http://www.promostandards.org/WSDL/RemittanceAdviceService/1.0.0/SharedObjects/"
    xmlns:tns="http://www.promostandards.org/WSDL/RemittanceAdviceService/1.0.0/SharedObjects/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ns2="http://www.isotc211.org/iso4217/"
    elementFormDefault="qualified"
>
  <xsd:import namespace="http://www.isotc211.org/iso4217/" schemaLocation="iso4217-currency-code.xsd"/>
  <xsd:simpleType name="amountTypeGreaterThanZero">
    <xsd:restriction base="xsd:decimal">
      <xsd:minExclusive value="0"/>
      <xsd:fractionDigits value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="referenceNumberType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="invoice"/>
      <xsd:enumeration value="other"/>
      <xsd:enumeration value="purchaseOrder"/>
      <xsd:enumeration value="quote"/>
      <xsd:enumeration value="salesOrder"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="serviceMessageCode">
    <xsd:restriction base="xsd:int"/>
  </xsd:simpleType>
  <xsd:simpleType name="serviceMessageDescription">
    <xsd:restriction base="xsd:token">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="256"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="serviceMessageSeverityType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Error"/>
      <xsd:enumeration value="Information"/>
      <xsd:enumeration value="Warning"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="creditMemoNumber">
    <xsd:simpleType>
      <xsd:restriction base="xsd:token">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="64"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="currency" type="ns2:CurrencyCodeType"/>
  <xsd:element name="email">
    <xsd:simpleType>
      <xsd:restriction base="xsd:token">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="128"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:simpleType name="enumeration">
    <xsd:restriction base="xsd:token">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="64"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="id">
    <xsd:simpleType>
      <xsd:restriction base="xsd:token">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="64"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="payerName">
    <xsd:simpleType>
      <xsd:restriction base="xsd:token">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="64"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="referenceNumber">
    <xsd:simpleType>
      <xsd:restriction base="xsd:token">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="64"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="Remittance">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:currency"/>
        <xsd:element ref="tns:RemittanceDetailsArray"/>
        <xsd:element ref="tns:PayerDetails"/>
        <xsd:element ref="tns:PaymentDetails" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RemittanceDetail">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:referenceNumber"/>
        <xsd:element name="referenceNumberType" type="tns:referenceNumberType"/>
        <xsd:element ref="tns:creditMemoNumber" minOccurs="0"/>
        <xsd:element name="amount" type="tns:amountTypeGreaterThanZero"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RemittanceDetailsArray">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:RemittanceDetail" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="password">
    <xsd:simpleType>
      <xsd:restriction base="xsd:token">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="64"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="PayerDetails">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:payerName"/>
        <xsd:element ref="tns:email" minOccurs="0"/>
        <xsd:element ref="tns:phone" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PaymentDetails">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="amountPaid" type="tns:amountTypeGreaterThanZero"/>
        <xsd:element ref="tns:paymentReferenceNumber"/>
        <xsd:element name="paymentDate" type="xsd:date"/>
        <xsd:element ref="tns:paymentMemo" minOccurs="0"/>
        <xsd:element name="paymentMethod" type="tns:enumeration"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="phone">
    <xsd:simpleType>
      <xsd:restriction base="xsd:token">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="32"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="paymentMemo">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="paymentReferenceNumber">
    <xsd:simpleType>
      <xsd:restriction base="xsd:token">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="128"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ServiceMessage">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="code" type="tns:serviceMessageCode"/>
        <xsd:element name="description" type="tns:serviceMessageDescription"/>
        <xsd:element name="severity" type="tns:serviceMessageSeverityType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ServiceMessageArray">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:ServiceMessage" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="serviceMethod">
    <xsd:simpleType>
      <xsd:restriction base="xsd:token">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="128"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ServiceMethodArray">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:serviceMethod" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="transactionId">
    <xsd:simpleType>
      <xsd:restriction base="xsd:token">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="64"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="wsVersion">
    <xsd:simpleType>
      <xsd:restriction base="xsd:token">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="64"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>
