Docs/Schemas/Invoice/1.0.0/GetVoidedInvoicesResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.promostandards.org/WSDL/Invoice/1.0.0/" xmlns:ns2="http://www.promostandards.org/WSDL/Invoice/1.0.0/" xmlns:ns3="http://www.promostandards.org/WSDL/Invoice/1.0.0/SharedObjects/" targetNamespace="http://www.promostandards.org/WSDL/Invoice/1.0.0/" elementFormDefault="qualified">
  <xsd:import namespace="http://www.promostandards.org/WSDL/Invoice/1.0.0/SharedObjects/" schemaLocation="SharedObjectsInvoice.xsd"/>
  <xsd:element name="VoidedInvoice">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ns3:invoiceNumber"/>
        <xsd:element ref="ns3:voidDate"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetVoidedInvoicesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="VoidedInvoiceArray" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element ref="ns1:VoidedInvoice" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element ref="ns3:ServiceMessageArray" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>