Docs/Schemas/OrderManagement/1.0.0/OrderManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
  name="Order_Management_v1_0_0"
  targetNamespace="http://www.promostandards.org/WSDL/OrderManagement/1.0.0/"
  xmlns:tns="http://www.promostandards.org/WSDL/OrderManagement/1.0.0/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  >
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.promostandards.org/WSDL/OrderManagement/1.0.0/" schemaLocation="CancelOrderRequest.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.promostandards.org/WSDL/OrderManagement/1.0.0/" schemaLocation="CancelOrderResponse.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.promostandards.org/WSDL/OrderManagement/1.0.0/" schemaLocation="ChangeItemRequest.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.promostandards.org/WSDL/OrderManagement/1.0.0/" schemaLocation="ChangeItemResponse.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.promostandards.org/WSDL/OrderManagement/1.0.0/"  schemaLocation="ChangeShipAddressRequest.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.promostandards.org/WSDL/OrderManagement/1.0.0/" schemaLocation="ChangeShipAddressResponse.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.promostandards.org/WSDL/OrderManagement/1.0.0/" schemaLocation="GetMessageStatusRequest.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.promostandards.org/WSDL/OrderManagement/1.0.0/" schemaLocation="GetMessageStatusResponse.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.promostandards.org/WSDL/OrderManagement/1.0.0/" schemaLocation="SendDocumentRequest.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.promostandards.org/WSDL/OrderManagement/1.0.0/" schemaLocation="SendDocumentResponse.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.promostandards.org/WSDL/OrderManagement/1.0.0/" schemaLocation="GetServiceMethodsRequest.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.promostandards.org/WSDL/OrderManagement/1.0.0/" schemaLocation="GetServiceMethodsResponse.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CancelOrderRequestMessage">
    <wsdl:part name="CancelOrderRequest" element="tns:CancelOrderRequest"/>
  </wsdl:message>
  <wsdl:message name="CancelOrderResponseMessage">
    <wsdl:part name="CancelOrderResponse" element="tns:CancelOrderResponse"/>
  </wsdl:message>
  <wsdl:message name="ChangeItemRequestMessage">
    <wsdl:part name="ChangeItemRequest" element="tns:ChangeItemRequest"/>
  </wsdl:message>
  <wsdl:message name="ChangeItemResponseMessage">
    <wsdl:part name="ChangeItemResponse" element="tns:ChangeItemResponse"/>
  </wsdl:message>
  <wsdl:message name="ChangeShipAddressRequestMessage">
    <wsdl:part name="ChangeShipAddressRequest" element="tns:ChangeShipAddressRequest"/>
  </wsdl:message>
  <wsdl:message name="ChangeShipAddressResponseMessage">
    <wsdl:part name="ChangeShipAddressResponse" element="tns:ChangeShipAddressResponse"/>
  </wsdl:message>
  <wsdl:message name="GetMessageStatusRequestMessage">
    <wsdl:part name="GetMessageStatusRequest" element="tns:GetMessageStatusRequest"/>
  </wsdl:message>
  <wsdl:message name="GetMessageStatusResponseMessage">
    <wsdl:part name="GetMessageStatusResponse" element="tns:GetMessageStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="SendDocumentRequestMessage">
    <wsdl:part name="SendDocumentRequest" element="tns:SendDocumentRequest"/>
  </wsdl:message>
  <wsdl:message name="SendDocumentResponseMessage">
    <wsdl:part name="SendDocumentResponse" element="tns:SendDocumentResponse"/>
  </wsdl:message>
  <wsdl:message name="GetServiceMethodsRequestMessage">
    <wsdl:part name="GetServiceMethodsRequest" element="tns:GetServiceMethodsRequest"/>
  </wsdl:message>
  <wsdl:message name="GetServiceMethodsResponseMessage">
    <wsdl:part name="GetServiceMethodsResponse" element="tns:GetServiceMethodsResponse"/>
  </wsdl:message>
  <wsdl:portType name="OrderManagementService">
    <wsdl:operation name="cancelOrder">
      <wsdl:input message="tns:CancelOrderRequestMessage"/>
      <wsdl:output message="tns:CancelOrderResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="changeOrderItem">
      <wsdl:input message="tns:ChangeItemRequestMessage"/>
      <wsdl:output message="tns:ChangeItemResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="changeShipAddress">
      <wsdl:input message="tns:ChangeShipAddressRequestMessage"/>
      <wsdl:output message="tns:ChangeShipAddressResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getMessageStatus">
      <wsdl:input message="tns:GetMessageStatusRequestMessage"/>
      <wsdl:output message="tns:GetMessageStatusResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="sendOrderDocument">
      <wsdl:input message="tns:SendDocumentRequestMessage"/>
      <wsdl:output message="tns:SendDocumentResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getServiceMethods">
      <wsdl:input message="tns:GetServiceMethodsRequestMessage"/>
      <wsdl:output message="tns:GetServiceMethodsResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderManagementServiceBindingV1" type="tns:OrderManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="cancelOrder">
      <soap:operation soapAction="cancelOrder" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeOrderItem">
      <soap:operation soapAction="changeOrderItem" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeShipAddress">
      <soap:operation soapAction="changeShipAddress" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessageStatus">
      <soap:operation soapAction="getMessageStatus" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendOrderDocument">
      <soap:operation soapAction="sendOrderDocument" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceMethods">
      <soap:operation soapAction="getServiceMethods" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderManagementServiceV1">
    <wsdl:port name="OrderManagementServiceBinding" binding="tns:OrderManagementServiceBindingV1">
      <soap:address location="[Endpoint URL]"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>