Docs/Schemas/PC/1.0.0/GetComplianceRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.promostandards.org/WSDL/ProductComplianceService/1.0.0/" targetNamespace="http://www.promostandards.org/WSDL/ProductComplianceService/1.0.0/" elementFormDefault="qualified">
	<xsd:element name="GetComplianceRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="wsVersion">
					<xsd:annotation>
						<xsd:documentation>
			The Standard Version of the Web Service being referenced
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:token">
							<xsd:minLength value="1"/>
							<xsd:maxLength value="64"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="id">
					<xsd:annotation>
						<xsd:documentation>
			The customer Id or any other agreed upon Id.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:token">
							<xsd:minLength value="1"/>
							<xsd:maxLength value="64"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="password" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The password associated with the Id
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:token">
							<xsd:minLength value="1"/>
							<xsd:maxLength value="64"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="productId">
					<xsd:annotation>
						<xsd:documentation>The identifier of the product to get compliance data for</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:token">
							<xsd:minLength value="1"/>
							<xsd:maxLength value="64"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="partId" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The identifier of the part to get compliance data for; this element being left off indicates an intention to get compliance data on any applicable parts for the specific product whereas including this element indicates an intention to only get compliance data for the specific part</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:token">
							<xsd:minLength value="1"/>
							<xsd:maxLength value="64"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
