Docs/Schemas/OS/2.0.0/OrderStatusServiceV2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
  name="Order_Status_v2_0_0"
  targetNamespace="http://www.promostandards.org/WSDL/OrderStatus/2.0.0/"
  xmlns:tns="http://www.promostandards.org/WSDL/OrderStatus/2.0.0/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  >
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.promostandards.org/WSDL/OrderStatus/2.0.0/" schemaLocation="GetOrderStatusRequest.xsd" />
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.promostandards.org/WSDL/OrderStatus/2.0.0/" schemaLocation="GetOrderStatusResponse.xsd" />
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.promostandards.org/WSDL/OrderStatus/2.0.0/" schemaLocation="GetIssueRequest.xsd" />
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.promostandards.org/WSDL/OrderStatus/2.0.0/" schemaLocation="GetIssueResponse.xsd" />
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.promostandards.org/WSDL/OrderStatus/2.0.0/" schemaLocation="GetServiceMethodsRequest.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.promostandards.org/WSDL/OrderStatus/2.0.0/" schemaLocation="GetServiceMethodsResponse.xsd"/>
    </xsd:schema>  
  </wsdl:types>
  <wsdl:message name="GetOrderStatusRequestMessage">
    <wsdl:part name="GetOrderStatusRequest" element="tns:GetOrderStatusRequest" />
  </wsdl:message>
  <wsdl:message name="GetOrderStatusResponseMessage">
    <wsdl:part name="GetOrderStatusResponse" element="tns:GetOrderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetIssueRequestMessage">
    <wsdl:part name="GetIssueRequest" element="tns:GetIssueRequest" />
  </wsdl:message>
  <wsdl:message name="GetIssueResponseMessage">
    <wsdl:part name="GetIssueResponse" element="tns:GetIssueResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceMethodsRequestMessage">
    <wsdl:part name="GetServiceMethodsRequest" element="tns:GetServiceMethodsRequest"/>
  </wsdl:message>
  <wsdl:message name="GetServiceMethodsResponseMessage">
    <wsdl:part name="GetServiceMethodsResponse" element="tns:GetServiceMethodsResponse"/>
  </wsdl:message>
  <wsdl:portType name="OrderStatusService">
    <wsdl:operation name="getOrderStatus">
      <wsdl:input message="tns:GetOrderStatusRequestMessage" />
      <wsdl:output message="tns:GetOrderStatusResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="getIssue">
      <wsdl:input message="tns:GetIssueRequestMessage" />
      <wsdl:output message="tns:GetIssueResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="getServiceMethods">
      <wsdl:input message="tns:GetServiceMethodsRequestMessage"/>
      <wsdl:output message="tns:GetServiceMethodsResponseMessage"/>
    </wsdl:operation>  
  </wsdl:portType>
  <wsdl:binding name="OrderStatusServiceBindingV2" type="tns:OrderStatusService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getOrderStatus">
      <soap:operation soapAction="getOrderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIssue">
      <soap:operation soapAction="getIssue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceMethods">
      <soap:operation soapAction="getServiceMethods" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderStatusServiceV2">
    <wsdl:port name="OrderStatusServiceBinding" binding="tns:OrderStatusServiceBindingV2">
      <soap:address location="[Endpoint URL]" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>