Docs/Schemas/ProductCompliance/1.0.0/GetProductsWithRegulationsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.promostandards.org/WSDL/ProductComplianceService/1.0.0/" targetNamespace="http://www.promostandards.org/WSDL/ProductComplianceService/1.0.0/" xmlns:shar="http://www.promostandards.org/WSDL/ProductComplianceService/1.0.0/SharedObjects/" elementFormDefault="qualified">
	<xsd:import namespace="http://www.promostandards.org/WSDL/ProductComplianceService/1.0.0/SharedObjects/" schemaLocation="SharedObjectsCompliance.xsd" />
	<xsd:simpleType name="complianceGroupEnum">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CaliforniaProp65"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="GetProductsWithRegulationsResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="productWithRegulationsArray" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ProductWithRegulations" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="productId">
											<xsd:annotation>
												<xsd:documentation>The identifier of the product that has or will have applicable regulations</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:token">
													<xsd:minLength value="1"/>
													<xsd:maxLength value="64"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="partId" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The identifier of the part that has or will have applicable regulations; this element being left off the response indicates all parts have or will have applicable regulations whereas including this element in the response indicates this part has or will have applicable regulations</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:token">
													<xsd:minLength value="1"/>
													<xsd:maxLength value="64"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="complianceGroups">
											<xsd:annotation>
												<xsd:documentation>The list of promo standards compliance groups which currently or in the future apply to this product and, if included in the response, part</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="complianceGroup" type="tns:complianceGroupEnum" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ServiceMessageArray" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ServiceMessage" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Response for any error requiring notification to requestor</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="code" type="xsd:int">
											<xsd:annotation>
												<xsd:documentation>Response for any error requiring notification to requestor</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="description">
											<xsd:annotation>
												<xsd:documentation>Response for any error requiring notification to requestor</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:token">
													<xsd:maxLength value="256"/>
													<xsd:minLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="severity">
											<xsd:annotation>
												<xsd:documentation>The severity of the error. Values are enumerated: {Error, Information, Warning}</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="shar:SeverityType">
													<xsd:maxLength value="64"/>
													<xsd:minLength value="1"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
